body{
  background-color: rgb(17, 16, 16);
}

nav{
  background-color: white;
}

.Land{
  background-image: url('./components/back.jpeg');
  padding-bottom: 20px;
}

.Land #sign-in{
  margin-top: 40px;
}

#land-img{
  width: 50%;
}

#land-img .row{
  padding-bottom: 10px !important; 
}

.Details{
  background-color: rgb(17, 16, 16);
}

.Details #info{
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left:120px;
}

#info h5{
  margin-bottom: 80px;
}

#try-it-now{
  border: 1px solid white;
  font-size: 20px;
  padding-bottom: 40px;  
}

.Faq{
  padding-top: 40px;
  padding-bottom: 50px;
}

h3{
  margin-bottom: 50px;
}

.Faq ul{
  border: none;
  background-color: black;
}

#faq{
  margin-top: 15px;
}  

#faq-text{
  border: none;
}

.Footer {
  padding-top: 45px;
  width: 100%;
}

h6{
  margin-bottom: 50px;
}

#links{
  margin-top: 15px;
}

.Footer a:link{
  color: white;
}

a:hover{
  color: white;
}

.row{
  padding-bottom: 50px;
}
